.titleContainer{
    font-family: 'Inter', sans-serif;
    justify-content: start;
    align-content: start;
    display: flex;
    flex-direction: column;
    line-height: 0; 
}

.p1{
color: #524FF5;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
letter-spacing: 8px;
text-transform: uppercase;
}
.p2{
color: #1C2129;
font-family: Inter;
font-size: 45px;
font-style: normal;
font-weight: 700;
}