.SectionContainer {
  border: 2px solid black;
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.SectionTitle {
  font-size: 70px;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  color: #ffffff;
  text-shadow: -4px 3px 0 #000000, -8px 7px 0 #000000;
  text-align: center;
}
.HomeSectionTitle {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 31px;
  box-shadow:  23px 23px 46px #6e6e6e,
  -23px -23px 46px #ffffff;
}
.HomeSectionTitle span {
  width: 15px;
}
.Section-title-btns {
  display: flex;
  margin-top: -30px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.Section-title-btns Link{
    color: inherit;
    text-decoration: inherit;
    
}

.MainBtn {
  background-color: #a1f65e;
  padding: 15px 30px;
  cursor: pointer;
  width: fit-content;
  transition: all ease-in-out 0.2s;
  color: #000000;

}
.MainBtn:hover {
  font-weight: bold;
}

.SecBtn {
  color: white;
  border: 1px solid white;
  padding: 15px 30px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.SecBtn:hover {
  border: 1px solid #a1f65e;
  color: #a1f65e;
}


@media (max-width: 480px) {
  .SectionTitle {
    font-size: 30px;
  }
  .HomeSectionTitle {
    background-position: 0; /* Center the image */
    background-size: cover;
  }
  .SectionContainer {
    background-position: 0; /* Center the image */
  }
  .Section-title-btns {
    display: flex;
    margin-top: -0px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
}

/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    .HomeSectionTitle {
        height: 400px;
    }
    .SectionTitle {
        font-size: 50px;
    }

    .Section-title-btns {
        margin-top: 0;
        font-size: 13px;
    }

}