
.ClubProducts {
    height: fit-content;
    padding: 10px;
    flex-direction: column;
    width: 100%;
}

.ClubTitle-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.ClubTitle-btn a {
    color: #1B2129;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.seeAllProductsBTN {
    background-color: #1B2129;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 10px 20px;
    border-radius: 3px;
    width: fit-content;
}

.ProductsCardContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ProductsContainer{
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}