.UsersGymContainer{
    width: 80%;
    height: 300px;
    margin: auto;
    color: white;
    display: flex;
  background-color: #203655;
  border-radius: 25px;
  margin-top: 25px;
}

.pc-actions{
    width: 35%;
    height: 100%;
    align-items: center;
    text-align: center;
    border-right: #a1f65e 1px solid;
}
.pc-actions img{
height: 170px;
width: 170px;
object-fit: cover;
border-radius: 15px;
margin-top: 10px;
}
.pc-actions div{
    background-color: #a1f65e;
    padding:  5px 10px;
    color: black;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
}

.pc-actions a{
    color: red;
    font-size: 11px;
    cursor: pointer;
}
.pc-actions a:hover{
    font-weight: bold;
}

.UG-infos{
    display: flex;
    width: 65%;
    flex-direction: column;
    text-align: center;
}

.UG-title{
    margin-top: 30px;
    font-size: 22px;
}
.UG-title a {
font-family: 'Lato', sans-serif;
color: chartreuse;
font-weight: bold;
font-style: italic;
text-transform: uppercase;
}
.UG-sub-infos{
    display: flex;  
    justify-content: space-between;
    text-align: start;
    margin-top: 80px;
    padding: 0px 15px;
}
.UG-devider{
    width: 45%;
}

.UG-devider div{
    display: flex;
    justify-content: space-between;
    padding:8px 0;
    font-weight: bold;
}
.UG-devider div a{
 font-weight: normal;
 color: rgb(27, 27, 27);
}

.P-downloadapp{
    color: rgb(238, 103, 103);
    font-size: 13px;
}
.P-downloadapp a {
    cursor: pointer;
    color: black;
}



/* UsersGym.css */

 .sub-list-container  {
    list-style: none;
    padding: 15px !important;
    margin: 0;
  }
  
  .sub-list-container li {
   
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }

 
  
  .sub-list-container li span {
    margin-right: 10px;
    
    
  }
  .sub-list-container .payed{
    background-color: rgb(115, 218, 115)
  }
  .sub-list-container .unpayed{
    background-color: rgb(234, 72, 93);
  }
  /* Add hover effect */
  .sub-list-container  li:hover {
    background-color: #e0e0e0;
  }
  
  /* Style the links */
  .sub-list-container li a {
    color: #3498db;
    text-decoration: none;
    margin-right: 10px;
    font-size: medium;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .sub-list-container li {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .sub-list-container li  span {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  